{% comment %} {% extends 'layouts/base.html' %} {% endcomment %}
{% extends 'base.html' %}

{% block styles %}   
<style>
        h1{
                text-align: center;
        }
</style> 
{% endblock styles %}

{% block content %}
        <h1>Acerca de</h1> 
        
        <div>
                JOHANNA:  Cuando la gente no entiende que yo no estoy viviendo en Nueva York, y me preguntan ‘¿vienes cada cuánto a Nueva York?’, yo creo que no entienden la vida de los latinos, la vida de familia y de estar todos; de ser todavía una mamá, como somos todas nosotras, que somos presentes. Viajamos, pero hay un compromiso de volver los fines de semana para poder estar en familia. Yo creo en esa esencia de vida como un poquitico normal. A mi me encanta ver la gente con quien yo crecí. Me encanta esta familia, y tener cerca a mi mamá y tener cerca a la familia de César, y que los niños crezcan con ese ambiente de familia, me parece importantísimo. Para mi nunca fue cuestión de ‘"As soon as I give that step, me voy a vivir a Nueva York o a Miami para estar más cerca". Nunca lo pensé. 
        </div>
                
        <div>
                Para mí vivir en Colombia es lo que me nutre la parte creativa. Estar acá y salir a caminar por las calles "que a lo mejor no son lo uno espera de una ciudad que te inspira a crear, como París", me inspira. Me inspira poder ver a la gente, y es que Cali tiene una mezcla cultural súper importante, porque vienen personas de muchas partes de Colombia, entonces es multiétnica. Esa multietnicidad también te da, culturalmente, una inspiración. Creo que las colecciones hechas desde acá, y desde Cali, van a tener esa esencia. En el momento en que salga y viva en otro lado, van a tener otra. Por eso, para mí, estar en Colombia y especialmente en mi ciudad ha sido súper importante.
        </div>       

        
        <div>Jeferson Chacon Rengifo</div>

{% endblock content %}