{% extends 'layouts/base.html' %}

{% block styles %}    
{% endblock styles %}

{% block content %}
        <h1>Acerca de</h1>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, non? Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et laudantium dolore vitae rerum, dolorum, illum necessitatibus reprehenderit inventore corrupti culpa amet ipsam tempora iure mollitia fugiat voluptates consectetur qui maxime hic. Eius, repellat. Molestiae, facilis? Eligendi vitae culpa voluptates.Distinctio, at.</div>
        <p></p>
        <div>Jeferson Chacon Rengifo</div>

{% endblock content %}