{% extends 'layouts/base.html' %}

{% block styles %}    
{% endblock styles %}

{% block content %}

    {% csrf_token %}

    <h1>Bienvenidos a </h1>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae exercitationem vitae temporibus distinctio aliquam vero quas voluptate et voluptatem perferendis, ullam laudantium maiores nihil eius eaque unde nesciunt facere, eveniet at? Vero architecto assumenda aut, saepe sit, necessitatibus repudiandae quo fuga aperiam voluptatem dicta nisi et rem ducimus commodi placeat sint ex, reprehenderit unde dolorem quasi. Fuga dicta totam quas!
    </div>

    

{% endblock content %}