SECRET_KEY=tu_clave_secreta_aqui
DEBUG=False
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=diseno
MYSQL_USER=usuario
MYSQL_PASSWORD=password
DATABASE_URL=mysql://usuario:password@127.0.0.1:3306/diseno
ALLOWED_HOSTS=tu-backend-en-render.com,localhost,127.0.0.1
SAP_BACKEND_MODE=mock

# Variables para HANA (si se usan)
HANA_HOST=
HANA_PORT=39015
HANA_USER=
HANA_PASSWORD=
HANA_DATABASE=DISENO
HANA_SCHEMA=GARMENT_PRODUCTION_CONTROL
