
{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Collection Reference</title>    
    <!--link rel="stylesheet" href="{% static 'styles/main.css' %}"-->
    <link rel="stylesheet" href="{% static 'styles/createStyle.css' %}">

    
</head>
<body>    
    
    <h1>Create New Collection Reference</h1>
    <!-- Formulario para crear una nueva referencia -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="referencia">Reference:</label></td>
                <td>{{ form.referencia }}</td>
            </tr>
            <tr>
                <td><label for="foto_referencia">Reference Photo:</label></td>
                <td>{{ form.foto_referencia }}</td>
            </tr>
            <tr>
                <td><label for="codigo_sap_md">SAP MD Code:</label></td>
                <td>{{ form.codigo_sap_md }}</td>
            </tr>
            <tr>
                <td><label for="codigo_sap_pt">SAP PT Code:</label></td>
                <td>{{ form.codigo_sap_pt }}</td>
            </tr>
            <tr>
                <td><label for="nombre_sistema">System Name:</label></td>
                <td>{{ form.nombre_sistema }}</td>
            </tr>
            <tr>
                <td><label for="descripcion_color">Color Description:</label></td>
                <td>{{ form.descripcion_color }}</td>
            </tr>
            <tr>
                <td><label for="foto_tela">Fabric Photo:</label></td>
                <td>{{ form.foto_tela }}</td>
            </tr>
            <tr>
                <td><label for="tela">Fabric:</label></td>
                <td>{{ form.tela }}</td>
            </tr>
            <tr>
                <td><label for="status">Status:</label></td>
                <td>{{ form.status }}</td>
            </tr>
            <tr>
                <td><label for="modista">Tailor:</label></td>
                <td>{{ form.modista }}</td>
            </tr>
            <tr>
                <td><label for="largo">Length:</label></td>
                <td>{{ form.largo }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Create Reference</button>
                </td>
            </tr>
        </table>
    </form>

    <p><a href="{% url 'index' %}">Back to list</a></p>
</body>
</html>
{% endblock content %}