
{% extends "layouts/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Collection Reference</title>    
    <!--link rel="stylesheet" href="{% static 'styles/main.css' %}"-->
    <link rel="stylesheet" href="{% static 'styles/createStyle.css' %}">

    
</head>
<body>    
    
    <h1>Create New Collection Reference</h1>
    <!-- Formulario para crear una nueva referencia -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            <thead>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><label for="foto_referencia"> FOTO REFERENCIA </label></td>
                                <td>{{ form.foto_referencia }}</td>
                            </tr>
                        </table>
                    </td>                 
                    <td> ITEM </td>
                    <td> VALOR</td>
                </tr>
            </thead>
            <tr>
                
            </tr>
            <tr>
                <td></td>                
                <td><label for="referencia"> REFERENCIA </label></td>                
                <td><input type="text" placeholder="1" required/>{{ form.referencia }}</td>
            </tr>            
            <tr>
                <td></td>                
                <td><label for="codigoSapMD"> SAP MD Code: </label></td>
                <td> <input type="text" placeholder="MD00101">  {{ form.codigo_sap_md }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="codigoSapPT"> SAP PT Code: </label></td>
                <td> <input type="text" placeholder="PT00101"> {{ form.codigo_sap_pt }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="nombreSistema"> System Name: </label></td>
                <td><input type="text" placeholder="RIVIERA ANKLE DRESS" required/> {{ form.nombre_sistema }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="descripcionColor"> Color Description: </label></td>
                <td>{{ form.descripcion_color }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="fotoTela"> Fabric Photo: </label></td>
                <td><select name="creativo">
                    {% for creativo in miCreativo %}
                        <option value="{{creativo.id}}">{{creativo.nombreCreativo}}</option>
                    {% endfor %}
                </select>{{ form.foto_tela }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="creativo"> Creativo: </label></td>
                <td>
                    <select name="creativo">
                    {% for creativo in miCreativo %}
                        <option value="{{creativo.id}}">{{creativo.nombreCreativo}}</option>
                    {% endfor %}
                </select>
            </td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="tela"> Fabric: </label></td>
                <td>{{ form.tela }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="status"> Status: </label></td>
                <td>{{ form.status }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="modista"> Tailor: </label></td>
                <td>{{ form.modista }}</td>
            </tr>
            <tr>
                <td></td>                
                <td><label for="largo"> Length: </label></td>
                <td>{{ form.largo }}</td>
            </tr>
            
            <button type="submit">Create Reference</button>

        </table>
    </form>
    <!--div> <p></p> <button type="submit">Create Reference</button></div-->

    <p><a href="{% url 'index' %}">Back to list</a></p>
</body>
</html>
{% endblock content %}