{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'styles/baseStyle.css' %}">
    {% block styles %}
        
    {% endblock styles %}
</head>
<body>

    <div class="master">

        <header>
                <div class="logo">
                    <img src="{% static "yourCompany.png" %}" alt="" width="70" >
                    <!--img src="{% static "logoJO.png" %}" alt="" width="70" --> 

                </div>  
                <div class="menu">
                    <nav class="navbar">
                    <ul>
                        <li><a href= "{% url 'index' %}" >       Inicio</a></li>
                        <li><a href= "{% url 'about' %}" >       Sobre Nosotros</a></li>            
                        <li><a href= "{% url 'create_reference' %}" >Crear Referencia</a></li>
                        <li><a href= "{% url 'collection' %}">         Colección</a></li>
                        {% if user.is_authenticated %}
                        <li><a href= "{% url 'logout' %}" >   Salir</a></li>
                        {% else %}
                        <li><a href= "{% url 'signin' %}" >   Iniciar</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>        
        </header>
        
        <main class= "container">
            <div>
                {% block content %}


                {% endblock content %}
            </div>
        </main>    
        
        <footer class="footer">
            <p>© 2024 Diseño JO</p>
        </footer>
    
    </div>
</body>
</html>
