<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Grid Layout Web</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        
    </style>
</head>

<body>
    <div class="grid-layout">
        <aside class="sidebar">
            <h2>Vista Previa</h2>
            <nav>
                <ul>
                    <li><a href="#">Creativos</a></li>
                    <li><a href="#">Técnicos</a></li>
                    <li><a href="#">Trazadores</a></li>
                    <li><a href="#">Ficha Técnica</a></li>
                </ul>
            </nav>
            <div class="messages">MENSAJES</div>
        </aside>

        <header class="navbar">
            <h1></h1>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
            </nav>
            <form class="search-form">
                <input type="text" placeholder="Buscar...">
                <button>Buscar</button>
            </form>
        </header>

        <!-- <main class="main">
      {% block content %}             Contenido dinámico
      {% endblock content %}   </main> -->

        <main class="colecciones">
            <h2>COLECCIONES</h2>
            <div class="coleccion-grid">
                <div class="card" style="--bg: #FEEA4D">
                    <img src="static/winter-sun.jpg" alt="Winter Sun">                    
                    <span>WINTER SUN</span>
                </div>
                <div class="card" style="--bg: #70A7FF">
                    <img src="static/resort-rtw.jpg" alt="Resort RTW">
                    <span>RESORT RTW</span>
                </div>
                <div class="card" style="--bg: #81C963">
                    <img src="static/spring-summer.jpg" alt="Spring Summer">
                    <span>SPRING SUMMER</span>
                </div>
                <div class="card" style="--bg: #FF935F">
                    <img src="static/summer-vacation.jpg" alt="Summer Vacation">
                    <span>SUMMER VACATION</span>
                </div>
                <div class="card" style="--bg: #C6B9B1">
                    <img src="static/pre-fall.jpg" alt="Pre Fall">
                    <span>PRE - FALL</span>
                </div>
                <div class="card" style="--bg: #B03C5C">
                    <img src="static/fall-winter.jpg" alt="Fall Winter">
                    <span>FALL WINTER</span>
                </div>
                <div class="card" style="--bg: #939A24">
                    <img src="static/capsule.jpg" alt="Capsule">
                    <span>CAPSULE</span>
                </div>
            </div>



        </main>


    </div>
</body>

</html>